<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Blog New</title>
    </head>
    <body>

        <h1>{{title}}</h1>
        <form method="post">

            <div>
                <div>
                    <span> Title :</span>
                    <input type="text" name="title" id="editArticleTitle" />
                </div>
                <div>
                    <span> Body :</span>
                    <textarea name="body" rows="20" cols="10" id="editArticleBody"></textarea>
                </div>
                <div id="editArticleSubmit">
                    <input type="submit" value="Send" />
                </div>
            </div>
        </form>
    </body>
</html>